@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "Poppins", san-seerif;
}

body {
  overflow: hidden;
  background-color: rgb(135, 10, 252);
}

.wrapper {
  max-width: 400px;
  margin: 135px auto;
  background-color: white;
  border-radius: 7px;
  padding: 28px 0;
}

.task-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}

.task-input i {
  color: #bfbfbf;
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}

.task-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}

.task-input input::placeholder {
  color: #bfbfbf;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  border-bottom: 1px solid #ccc;
  padding: 18px 25px;
}

.filters span {
  cursor: pointer;
  margin: 0 8px;
  font-size: 17px;
}

.filters span:first-child {
  margin-left: 0;
}

.filters span.active {
  color: #3c87ff;
}

.controls .clear-btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 3px;
  color: #fff;
  padding: 7px 13px;
  background: #3c87ff;
}

.task-box {
  margin: 20px 25px;
}
.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.task label {
  display: flex;
}

.task label input {
  margin-top: 2px;
  margin-right: 12px;
}

.task .setting {
  cursor: pointer;
  position: relative;
}
.setting .task-menu {
  padding: 5px 0;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  position: absolute;
  border-radius: 4px;
  z-index: 2;
  right: -5px;
  bottom: -65px;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease;
}

.setting:hover .task-menu {
  transform: scale(1);
}
.task-menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  justify-content: flex-start;
  padding: 17px 15px;
}
.task-menu li:hover {
  background-color: #f5f5f5;
}

.task-menu li i {
  padding-right: 8px;
}
