* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-color: rgb(127, 146, 255);
  color: white;
  margin: 0.5rem;
  border-radius: 4px;
  transform: translateX(400%);
  transition: transform 0.6s ease;
}
.box:nth-of-type(even) {
  transform: translateX(-400%);
}
.box.show {
  transform: translateX(0);
}
